[Unit]
Description=Performance Moniter Server

[Service]
WorkingDirectory=/opt/tmrc
ExecStart=/opt/tmrc/start
Restart=always

[Install]
WantedBy=multi-user.target