[Unit]
Description=Performance Moniter Server

[Service]
WorkingDirectory=/opt/tmrx
ExecStart=/opt/tmrx/start
Restart=always

[Install]
WantedBy=multi-user.target