[Unit]
Description=Performance Moniter Server

[Service]
User=root
WorkingDirectory=/opt/tmrc
ExecStart=/opt/nvm/versions/node/v17.9.0/bin/node /opt/tmrc/
Restart=always

[Install]
WantedBy=multi-user.target